*{
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /*background-color: #ffcfcb;*/
    background-image:linear-gradient(to bottom,#fed9d1,#e77b84);
    
}
h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    color: #d31e4b;
}
.container{
    /* display: flex; */
    
    margin: auto;
    /* margin-top: 100px; */
    width: 600px;
    height: 600px;
}
.container .ibox{
    /* margin: auto; */
    position:relative;
    
    /* width: 500px; */
    /* background-color: yellow; */
    
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    top: 100px;
    
    
    
}
.container .ibox input{
    margin-bottom: 10px;
    width: 263px;
    height: 40px;
    border-radius: 10px;
    border: 0.7px solid palevioletred;
    outline: none;
    box-shadow: 0 5px 10px rgb(175, 28, 102, 0.5);
    font-size: 23px;
    color: #bd184fd3;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    
}
.container .ibox button{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border-radius: 14px;
    cursor: pointer;
    background-color: #f74b68;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    /* border: 0.7px solid palevioletred; */
    border: 2px solid rgba(255, 255, 255, 0.76);
    box-shadow: 5px 8px 8px rgba(22, 20, 21, 0.5);
    outline: 1px solid #9e1717;
    border-right: none;
    border-bottom: 2px solid black;
}

.ibox button:active{
    background-color:#e62f5d;
}
::placeholder{
	color:#bd184fd3;
	opacity:0.4;
}
.result{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: none;
    
}
.result img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.result p{
    text-align: center;
    font-size: 25px;
    color: green;
    background-color: antiquewhite;
    border-radius: 20px;
}
/* .ibox input,button{
    display: none;
} */